@inherits PoeShared.Blazor.BlazorReactiveComponent<CreateTaskTimelineEntry>

<div class="d-flex">
    @if (Track(x => x.ProgressPercent != null))
    {
        <ProgressBar Value="@Track(x => x.ProgressPercent ?? 0)" Class="align-self-center mx-2" Style="width: 50px;position: absolute;left: -90px;"/>
    }
    <div>@DataContext.Text@(DataContext.IsBusy ? "..." : string.Empty)</div>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0"
        HideIfDisabled="true"
        IsEnabled="@Track(x => x.IsBusy)"
        Command="@(DataContext.Cancel)">
        <i class="fa fa-stop-circle-o fa-fixed"></i>
        stop
    </ReactiveButton>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.Task != null)"
        Command="@(async () => await DataContext.CvatProjectAccessor.NavigateToTask(DataContext.Task.Id.Value))">
        <i class="fa fa-link fa-fixed"></i>
        open...
    </ReactiveButton>
</div>