@using PoeShared.UI
@inherits PoeShared.Blazor.Controls.TimelineItemBase<CreateDatasetTimelineEntry>

<div class="d-flex">
    @if (DataContext.ProgressPercent != null)
    {
        <ProgressBar Value="@(DataContext.ProgressPercent ?? 0)" Class="align-self-center mx-2" Style="width: 50px;position: absolute;left: -90px;"/>
    }

    <pre class="p-0 m-0" style="font-family: inherit; font-size: 1em;">@DataContext.Text@(DataContext.IsBusy ? "..." : string.Empty)</pre>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0 align-self-start"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.IsBusy)"
        Command="@(DataContext.Cancel)">
        <i class="fa fa-stop-circle-o fa-fixed"></i>
        stop
    </ReactiveButton>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0 align-self-start"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.Dataset != null)"
        Command="@(async () => await ProcessUtils.SelectFileOrFolder(DataContext.Dataset!.IndexFile))">
        <i class="fa fa-folder-o fa-fixed"></i>
        open...
    </ReactiveButton>
</div>

@code {

    public CreateDatasetTimelineItem()
    {
        ChangeTrackers.Add(this, x => x.DataContext.Dataset);
    }

}