@using System.Globalization
@using PoeShared.Blazor.Scaffolding
@using PoeShared.Blazor.Wpf.Scaffolding
@inherits PoeShared.Blazor.Controls.TimelineItemBase<TimelineEntry>

<TimelineItem Class="@(DataContext.IsBusy ? "ant-timeline-item-pending" : "")"
              Label="@(DataContext.Timestamp == null ? "" : DataContext.Timestamp.Value.ToString("HH:mm:ss", CultureInfo.InvariantCulture))">
    <div class="d-flex align-items-center">
        @if (!string.IsNullOrEmpty(DataContext.PrefixIcon))
        {
            <i class="@($"me-2 align-self-center fa {DataContext.PrefixIcon}")"></i>
        }
        <BlazorContentPresenter Content="@DataContext"/>

    </div>
    <div class="d-flex">
        @foreach (var imageData in DataContext.Images.Items)
        {
            <Image Src="@imageData.ToLocalFileUri().AbsoluteUri" Height="64" Class="mx-1"/>
        }
    </div>
</TimelineItem>