@inherits PoeShared.Blazor.Controls.TimelineItemBase<TrainingTimelineEntry>

<div class="d-flex">
    @if (DataContext.ProgressPercent != null)
    {
        <ProgressBar Value="@(DataContext.ProgressPercent ?? 0)" Class="align-self-center mx-2" Style="width: 50px;position: absolute;left: -90px;"/>
    }

    <div>
        @($"{DataContext.Text}{(DataContext.IsBusy ? "..." : string.Empty)}")
    </div>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0 align-self-start"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.IsBusy)"
        Command="@(DataContext.Cancel)">
        <i class="fa fa-stop-circle-o fa-fixed"></i>
        stop
    </ReactiveButton>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0 align-self-start"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.ModelFile != null)"
        Command="@(async () => await ProcessUtils.SelectFileOrFolder(DataContext.ModelFile))">
        <i class="fa fa-folder-o fa-fixed"></i>
        open...
    </ReactiveButton>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0 align-self-start"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.ModelFile != null)"
        Command="@(async () => await DataContext.Predict())">
        <i class="fa fa-folder-o fa-fixed"></i>
        predict...
    </ReactiveButton>
</div>

@code {

    public TrainingTimelineItem()
    {
        ChangeTrackers.Add(this, x => x.DataContext.ModelFile);
        ChangeTrackers.Add(this, x => x.DataContext.TrainedModelFile);
    }

}