@using CvatApi
@using YoloEase.UI.Dto
@inherits PoeShared.Blazor.BlazorReactiveComponent<YoloEase.UI.Core.CvatProjectAccessor>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>
                Tasks (@Track(x => x.Tasks.Count))
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Table TItem="TaskRead" DataSource="@Track(x => x.Tasks.Collection)">
                <PropertyColumn Property="x => x.Id"/>
                <PropertyColumn Property="x => x.Name"/>
                <PropertyColumn Property="x => x.Status"/>
                <ActionColumn Title="Action">
                    <Space>
                        <SpaceItem>
                            <ReactiveButton Command="@(async () => await DataContext.NavigateToTask(context.Id.Value))">
                                Open
                            </ReactiveButton>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
        </div>
    </div>

    <Divider/>

    <div class="row">
        <div class="col-12">
            <h4>
                Jobs (@Track(x => x.Jobs.Count))
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Table TItem="JobRead" DataSource="@Track(x => x.Jobs.Collection)">
                <PropertyColumn Property="x => x.Id"/>
                <PropertyColumn Property="x => x.Task_id"/>
                <PropertyColumn Property="x => x.Type"/>
                <PropertyColumn Property="x => x.State"/>
                <PropertyColumn Property="x => x.Status"/>
                <ActionColumn>
                    @Track(context, x => $"{x.Start_frame} - {x.Stop_frame} ({x.Frame_count})")
                </ActionColumn>
            </Table>
        </div>
    </div>

    <Divider/>

    <div class="row">
        <div class="col-12">
            <h4>
                Project files (@Track(x => x.ProjectFiles.Count))
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Table TItem="TaskFileInfo" DataSource="@Track(x => x.ProjectFiles.Collection)">
                <PropertyColumn Property="x => x.TaskId"/>
                <PropertyColumn Property="x => x.FileName"/>
            </Table>
        </div>
    </div>

    <Divider/>
</div>