@using PoeShared.Dialogs.Services
@using YoloEase.UI.Core
@inherits YoloEaseComponent<MainWindowViewModel>

<BrowserShortcutSuppressor />

<HeadContent>
    <style>
            
        </style>
</HeadContent>


<div id="appContainer" @ref="appContainerElement">
    @if (DataContext.YoloEaseProject == null || !DataContext.IsProjectShellAttached)
    {
        <StartingPage DataContext="@DataContext"/>
    }
    else
    {
        <div class="yolo-window-shell">
            <div id="mainContent" class="@($"golden-layout-host{(isLayoutLoading || goldenLayout == null ? " is-loading" : string.Empty)}")" @ref="@ElementRef">
            </div>
            @if (isLayoutLoading || goldenLayout == null)
            {
                <div class="golden-layout-loading">
                    <div class="spinner-border spinner-border-sm"></div>
                    <span>Preparing workspace...</span>
                </div>
            }
        </div>
    }
</div>
<div id="statusBar">
    <div id="statusLeft" class="d-flex">
        <a class="status-link" href="https://wiki.eyeauras.net/en/YoloEase/getting-started">
            <i class="fa fa-external-link align-middle"></i>
            Getting started
        </a>
    </div>
    <div id="statusMiddle">
    </div>
    <div id="statusRight">
        <ReactiveButton Class="btn btn-link" Command="@DataContext.OpenAppDirectory">
            <i class="fa fa-folder-open"></i>
        </ReactiveButton>
        <ReactiveButton Class="btn btn-link" Command="@DataContext.OpenAppDataDirectory">
            <i class="fa fa-file"></i>
        </ReactiveButton>
    </div>
</div>

<ReactiveNotificationsContainer Notifications="@DataContext.WhenNotified"/>

@code{

    
}
