@using PoeShared.Blazor.Scaffolding
@using PoeShared.Blazor.Wpf
@using PoeShared.Reporting
@inherits YoloEaseComponent<MainWindowViewModel>

<BrowserShortcutSuppressor />

<span class="yolo-titlebar d-flex align-items-center gap-2 flex-grow-1 w-100 min-w-0">
    <span class="d-flex align-items-center gap-2 flex-grow-1 min-w-0">
        <span class="yolo-titlebar-title d-flex align-items-center flex-grow-1 min-w-0 user-select-none">
            <span class="yolo-titlebar-app-icon">
                <img src="/assets/images/MainIcon.png" alt="" draggable="false" />
            </span>
            <span class="text-truncate">
                @BlazorWindowAccessor.Window.Title
            </span>
        </span>

        @if (!DataContext.YoloEaseProject.IsEmpty)
        {
            <ReactiveButton Class="btn btn-eye-link btn-primary btn-sm px-2 text-nowrap"
                            CommandEx="@DataContext.NewProjectCommand">
                <i class="fa fa-file-text"></i>
                New project
            </ReactiveButton>
            <ReactiveButton Class="btn btn-eye-link btn-primary btn-sm px-2 text-nowrap"
                            CommandEx="@DataContext.SaveAsProjectCommand">
                <i class="fa fa-save"></i>
                Save As...
            </ReactiveButton>
            <ReactiveButton Class="btn btn-eye-link btn-primary btn-sm px-2 text-nowrap"
                            CommandEx="@DataContext.LoadProjectCommand">
                <i class="fa fa-folder-open"></i>
                Load
            </ReactiveButton>
            <ReactiveButton Class="btn btn-eye-link btn-primary btn-sm px-2 text-nowrap"
                            CommandEx="@DataContext.CloseProjectCommand">
                <i class="fa fa-times-circle"></i>
                Close project
            </ReactiveButton>
        }

        <ReactiveButton Class="btn btn-eye-link btn-primary btn-sm px-2 text-nowrap"
                        Command="@ReportProblemAsync"
                        Title="Open the problem reporting dialog"
                        data-testid="main-titlebar-report-problem">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Report a problem
        </ReactiveButton>
    </span>
</span>

@code {
    [Inject] public required IBlazorWindowAccessor BlazorWindowAccessor { get; init; }

    [Inject] public required IErrorReportingService ErrorReportingService { get; init; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BlazorWindowAccessor.Window.WhenAnyValue(x => x.Title)
            .Subscribe(_ => InvokeAsync(StateHasChanged).AndForget())
            .AddTo(Anchors);

        DataContext.WhenAnyValue(x => x.YoloEaseProject)
            .Subscribe(_ => InvokeAsync(StateHasChanged).AndForget())
            .AddTo(Anchors);
    }

    private async Task ReportProblemAsync()
    {
        try
        {
            await Task.Run(() => ErrorReportingService.ReportProblem());
        }
        catch (Exception e)
        {
            Log.Warn("Failed to open problem report dialog", e);
        }
    }

}
