@inherits YoloEaseComponent<MainWindowViewModel>
<div class="projects-start-page">
    <section class="projects-panel ye-panel">
        <header class="projects-panel-header">
            <h3 class="projects-panel-title">
                Projects
            </h3>
            <div class="projects-panel-actions">
                <ReactiveButton Class="btn btn-primary"
                                ShowErrorIcon="false"
                                CommandEx="@DataContext.NewProjectCommand">
                    <i class="fa fa-share"></i> New...
                </ReactiveButton>
                <ReactiveButton Class="btn btn-primary"
                                ShowErrorIcon="false"
                                CommandEx="@DataContext.LoadProjectCommand">
                    <i class="fa fa-folder-open"></i> Open existing...
                </ReactiveButton>
            </div>
        </header>
        <div class="projects-panel-body">
            <div class="alert alert-info projects-intro">
                YoloEase is tool which automates training process of machine-learning models, more specifically
                <a href="https://github.com/ultralytics/ultralytics">
                    <i class="fa fa-external-link align-middle"></i>
                    Yolo8+
                </a>

                You can read more about how to set everything up
                <a href="https://wiki.eyeauras.net/en/YoloEase/getting-started">
                    <i class="fa fa-external-link align-middle"></i>
                    here
                </a>
            </div>
            <div class="projects-recent-list" role="list">
                @foreach (var project in DataContext.RecentProjects.Items)
                {
                    <div @key=@project.FilePath class="projects-recent-item" role="listitem">
                        <ReactiveButton Class="btn btn-secondary w-100 projects-recent-button"
                                        ShowErrorIcon="false"
                                        CommandEx="@DataContext.LoadProjectCommand"
                                        CommandParameter="@project">
                            @(project.FilePath.TakeMidChars(64))
                        </ReactiveButton>
                    </div>
                }
            </div>
        </div>
    </section>
</div>


@code {

}
